
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: whitesmoke;
  margin: 0;
  font-family: "Poppins";

}

header{
  top:0;
  background:white;
  height: fit-content;
 
}

header .Nav{
  top:0;
  max-width: 1400px;
  margin:0 0 0 0;
  display: flex;
  padding: 10px;
  margin-left: 50px;
  align-items: center;
  justify-content: space-between;
}
header a{

  color: black ;
  align-items: center;
  text-decoration: none;
}

.pages{

max-width: 1400px;
padding: 20px;
margin: 0 auto;
}

.home{
  display:  grid;
  grid-template-columns: 3fr 1fr ;
  gap: 100px;
}

.workout-details{

  background: white ;
  border-radius: 4px;
  margin: 15px 0px 0px 50px;
  padding: 10px;
  position: relative;
  height: fit-content;
  box-shadow: 2px 2px 5px black;

}

.workout-details h4{
  color: #3EB489;
  font-family: "Poppins";
  margin: none;
}

.workout-details p{
  color: gray;
  font-size: 0.9em;
  margin: 0;
}

.workout-details span{
 
  position: absolute;
  top:35px;
  right: 20px;
  cursor: pointer;
  color: white;
  background-color: #3EB489;
  border-radius: 15px;

  padding: 2px;

}

.create h3{
  color: black;
  font-family: "Poppins";
}

.create label,input{
  display: block;
  font-family: "Poppins";
}


.create input{
  padding:10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100% ;
  border:1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.create button{
  font-family: "Poppins";
  padding: 10px;
  background:#3EB489;
  border: 0;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
div .error{
  padding: 10px;
  font-family: "Poppins";
  color: rgb(250, 0, 0);
  border: 1px solid rgb(250, 0, 0);
  border-radius: 4px;
  margin: 20px 0;
}

input .error{
  border: 1px solid var(--error);
}